<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/site_style.css">
    
    <script>
        // Function to get cookie value by name
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        // Get the username from the cookie
        var username = getCookie("session");

        // Redirect to login page if no session cookie
        if (!username) {
            window.location.href = "/login";
        }

        // Populate the username in the template
        window.onload = function() {
            var welcomeDiv = document.getElementById("welcomeDiv");
            welcomeDiv.textContent = "Welcome, " + username + "!";
            var usernameSpan = document.getElementById("usernameSpan");
            usernameSpan.textContent = username;
        };
    </script>
</head>
<body>
    <div id="navbar"></div>
    <script src="/static/navbar.js"></script>

    <h1>Account</h1>
    <div id="welcomeDiv"></div>
    <div>
        <button><a href="/view-deck">View Deck</a></button>
        <button><a href="/add-card">Add Card</a></button>
    </div>
    <div>
        <h3><span id="usernameSpan"></span>:</h3>
        <a href="/account">Account</a>
        <a href="/logout">Log Out</a>
    </div>
    <div id="messageDiv2"></div>
    <div id="messageDiv"></div>
    <script>
        // Parse URL parameters to get the message
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');

        // Display the message if it exists
        if (message) {
            const messageDiv = document.getElementById('messageDiv');
            const messageElement = document.createElement('p');
            messageElement.style.color = 'green';
            messageElement.textContent = message;
            messageDiv.appendChild(messageElement);
        }
        const message2 = urlParams.get('message2');

        // Display the message if it exists
        if (message2) {
            const message2Div = document.getElementById('message2Div');
            const message2Element = document.createElement('p');
            message2Element.style.color = 'red';
            message2Element.textContent = message2;
            message2Div.appendChild(message2Element);
        }
    </script>
</body>
</html>
