<!DOCTYPE html>
<html>
<head>
    <title>Add Card</title>
    <link rel="stylesheet" type="text/css" href="/styles/site_style.css">
</head>
<body>
    <h1>Add Card</h1>
    <form action="/add-card" method="post" enctype="multipart/form-data">
        <label for="deck">Deck Name (optional):</label>
        <input type="text" name="deck"><br>
        <input type="file" name="images[]" accept="image/*" multiple required><br>
        <input type="submit" value="Add Card">
    </form>
</body>
</html>

